body {
font-family: Arial;
background: #fff4e5;
padding: 20px;
color: #333;
}


h1, h2, h3 {
color: #ff7a00;
}


button {
background: #ff7a00;
border: none;
padding: 10px 20px;
color: white;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
margin: 5px 0;
}


button:hover {
background: #e96e00;
}


input, textarea {
width: 100%;
padding: 10px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 5px;
}


#loginBox, #registerBox, #forumBox, #adminBox, #updatesBox {
max-width: 600px;
margin: auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.commentBox {
background: #ffe0c2;
padding: 10px;
border-radius: 8px;
margin-top: 10px;
}


.leaderboard {
background: white;
padding: 10px;
border-radius: 10px;
margin: 10px 0;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
