body {
    background: radial-gradient(circle at top, #111, #000);
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff9f5f;
    text-shadow: 0 0 12px #ff7a00;
}

.panel {
    width: 500px;
    margin: auto;
    padding: 20px;
    background: rgba(20, 20, 20, 0.85);
    border: 2px solid #ff7a00;
    border-radius: 20px;
    box-shadow: 0 0 15px #ff7a00;
    margin-bottom: 25px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff7a00;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff7a00;
    transition: 0.2s;
}

button:hover {
    background: #ffae42;
}

#postsArea {
    text-align: left;
}

.post {
    background: rgba(255, 140, 0, 0.15);
    padding: 15px;
    margin-bottom: 10px;
    border-left: 3px solid #ff7a00;
    border-radius: 8px;
}
